apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vak-audit-pvc
  namespace: vak-system
  labels:
    app.kubernetes.io/name: vak
    app.kubernetes.io/component: storage
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
